.banner {
  background-color: black;
  position: relative;
  padding-top: 49%;
}

.trailer {
  position: absolute;
  top: 0;
  left: 0;
}
.trailer__info {
  z-index: 1;
  position: absolute;
  top: 18rem;
  left: 3rem;
}

.trailer__title {
  font-size: 3.5rem;
  color: #fff;
}

.trailer__overview {
  color: rgba(255, 255, 255, 0.673);
  width: 55rem;
  line-height: 1.4;
  padding-top: 1.3rem;
  font-size: 1.4rem;
}

.trailer__overview.mobile__view--1,
.trailer__overview.mobile__view--2 {
  display: none;
}

.trailer__wrapper {
  margin-top: 1.8rem;
  display: flex;
}

.trailer__button {
  display: flex;
  align-items: center;
  cursor: pointer;
  font-size: 1.2rem;
  outline: none;
  border: none;
  font-weight: 600;
  border-radius: 5px;
  padding: 0.8rem 2rem;
  background-color: rgba(112, 111, 111, 0.659);
  transition: all 0.3s ease;
}

.trailer__button:hover {
  opacity: 0.8;
}

.trailer__button.primary {
  margin-right: 0.8rem;
  color: var(--black);
  background: #fff;
}

.trailer__button.secondary {
  color: var(--white);
}

.trailer__button--icon {
  font-size: 1.4rem;
}

.trailer__button.secondary .trailer__button--icon {
  margin-right: 5px;
}

.trailer__mute {
  z-index: 1;
  position: sticky;
  background: transparent;
  color: var(--white);
  display: flex;
  transform: translateY(-450px);
  top: 20rem;
  left: 94%;
  cursor: pointer;
  border-radius: 50%;
  padding: 0.6rem;
  border: #fff solid 1px;
  transition: all 0.3s;
}

.trailer__mute * {
  font-size: calc(28 / 16 * 1rem);
}

.trailer__mute:hover {
  background-color: rgba(255, 255, 255, 0.369);
}

.banner__fade {
  position: absolute;
  bottom: 0;
  height: 10rem;
  width: 100%;

  background-image: linear-gradient(
    180deg,
    transparent,
    rgba(15, 15, 15, 0.61),
    rgb(17, 17, 17),
    rgb(17, 17, 17)
  );
}

/*  MEDIA QUERY  */

@media screen and (max-width: 1640px) {
  .trailer__mute {
    transform: translateY(-300px);
  }
}

@media screen and (max-width: 1380px) {
  .trailer__mute {
    transform: translateY(-150px);
  }
}

@media screen and (max-width: 1380px) {
  .trailer__info {
    top: 10rem;
  }
}

@media screen and (max-width: 1000px) {
  .trailer__info {
    top: 10rem;
  }

  .trailer__title {
    font-size: 2.3rem;
    color: #fff;
  }

  .trailer__overview {
    width: 45rem;
    padding-top: 1rem;
    font-size: 1.2rem;
  }

  .trailer__wrapper {
    margin-top: 1.3rem;
  }

  .trailer__button {
    font-size: 1rem;
    padding: 0.7rem 1.8rem;
  }

  .trailer__mute {
    transform: translateY(-150px);
    left: 90%;
  }

  .trailer__mute * {
    font-size: calc(22 / 16 * 1rem);
  }
}

@media screen and (max-width: 830px) {
  .trailer__info {
    top: 10rem;
  }

  .trailer__title {
    font-size: 1.8rem;
  }

  .trailer__overview {
    display: none;
  }

  .trailer__overview.mobile__view--1 {
    display: block;
    width: 35rem;
    padding-top: 1rem;
    font-size: 1.1rem;
  }

  .trailer__wrapper {
    margin-top: 1rem;
  }

  .trailer__button {
    font-size: 0.9rem;
    padding: 0.6rem 1.4rem;
  }

  .trailer__mute {
    transform: translateY(-120px);
  }

  .trailer__mute * {
    font-size: calc(20 / 16 * 1rem);
  }

  .trailer__button--icon {
    font-size: 1rem;
  }
}

@media screen and (max-width: 680px) {
  .trailer__info {
    top: 6rem;
  }

  .trailer__title {
    font-size: 1.4rem;
  }

  .trailer__overview.mobile__view--1 {
    display: none;
  }

  .trailer__overview.mobile__view--2 {
    display: block;
    width: 25rem;
    padding-top: 1rem;
    font-size: 1rem;
  }

  .trailer__wrapper {
    margin-top: 1rem;
  }

  .trailer__button {
    font-size: 0.8rem;
    padding: 0.5rem 1.2rem;
  }

  .trailer__mute {
    transform: translateY(-90px);
    padding: 8px;
  }

  .trailer__mute * {
    font-size: 1.1rem;
  }
}

@media screen and (max-width: 500px) {
  .trailer__info {
    left: 2.5rem;
    top: 4.5rem;
  }

  .trailer__title {
    font-size: 1.4rem;
  }

  .trailer__overview.mobile__view--1 {
    display: none;
  }

  .trailer__overview.mobile__view--2 {
    width: 19rem;
    padding-top: 0.5rem;
    font-size: 0.9rem;
  }

  .trailer__wrapper {
    margin-top: 0.8rem;
  }

  .trailer__button {
    font-size: 0.8rem;
    padding: 0.45rem 1rem;
  }

  .trailer__mute {
    transform: translateY(-60px);
    left: 88%;
    padding: 6px;
  }

  .trailer__mute * {
    font-size: 1.1rem;
  }
}

@media screen and (max-width: 415px) {
  .banner {
    padding-top: 48%;
  }
}

@media screen and (max-width: 390px) {
  .trailer__mute {
    transform: translateY(10px);
  }
}
