.Banner {
  overflow: hidden;
  position: relative;
}

.mute__button:hover {
  background: rgba(255, 255, 255, 0.103);
}

.mute__button {
  z-index: 200;
  position: absolute;
  display: flex;
  bottom: 30px;
  right: 30px;
  position: absolute;
  background: transparent;
  color: var(--white);
  display: flex;
  font-size: calc(30 / 16 * 1rem);
  cursor: pointer;
  padding: 10px;
  border-radius: 50%;
  border: var(--white) 1px solid;
  transition: all 0.3s ease;
}

.trailer__video {
  object-fit: cover;
  height: 100%;
  width: 100%;
}

.trailer__info {
  position: absolute;
  top: 40%;
  margin-left: 30px;
}

.trailer__title {
  line-height: 1.5;
  font-size: calc(50 / 16 * 1rem);
}

.trailer__overview {
  max-width: 900px;
  line-height: 1.5;
  color: rgba(255, 255, 255, 0.699);
  font-size: calc(20 / 16 * 1rem);
  margin-bottom: 20px;
}

.container__button {
  border: none;
  border-radius: 4px;
  font-weight: 700;
  font-size: 1rem;
  padding: 12px 0;
  width: 130px;
  transition: all 0.2s ease;
}

.container__button:hover {
  opacity: 0.8;
}

.container__button:first-child {
  margin-right: 15px;
}

.container__button:first-child .icon {
  font-size: calc(14 / 16 * 1rem);
}

.container__button:nth-child(2) {
  color: var(--white);
  background: var(--see-thru);
}
