.nav {
  width: 100%;
  position: fixed;
  display: flex;
  justify-content: space-between;
  background: none;
  transition: all 0.3s ease;
  padding: 15px 30px;
}

.nav.active {
  background-color: var(--black);
}

.logo {
  width: 100%;
  max-width: 100px;
}

.nav__wrapper {
  display: flex;
  align-items: center;
}

.nav__wrapper--icon {
  font-size: calc(20 / 16 * 1rem);
  margin: 0 20px;
}

.nav__wrapper--icon:first-child {
  font-size: calc(18 / 16 * 1rem);
}

.avatar {
  width: 100%;
  max-width: 35px;
  margin-left: 20px;
}
