.nav {
  z-index: 1000;
  width: 100%;
  position: fixed;
  display: flex;
  justify-content: space-between;
  background: none;
  transition: all 0.3s ease;
  padding: 15px 30px;
}

.nav.active {
  background-color: var(--black);
}

.nav__logo {
  width: 100%;
  max-width: 100px;
}

.nav__log--mobile {
  display: none;
}

.nav__wrapper {
  display: flex;
  align-items: center;
}

.wrapper__icon {
  font-size: calc(20 / 16 * 1rem);
  margin: 0 20px;
}

.wrapper__icon:first-child {
  font-size: calc(18 / 16 * 1rem);
}

.wrapper__avatar {
  width: 100%;
  max-width: 35px;
  margin-left: 20px;
}
