@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap");
@import url("./style/Navbar.css");
@import url("./style/Banner.css");
@import url("./style/Footer.css");
@import url("./style/Rows.css");

:root {
  --white: #fff;
  --black: #111111;
  --light-grey: #999999;
  --see-thru: rgba(109, 109, 109, 0.7);
  --green: #53d84b;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

body {
  background-color: var(--black);
  color: var(--white);
}
